.date {
  border: 1px solid rgb(16, 16, 16);
  font-weight: bolder;
  background-color: rgb(16, 16, 16);
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.calendar {
  margin-left: 5px;
}

